body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card{
  background-color: lightgray;
}
.mapCardBody{
  background-color: red; 
  color: blue;
}
.mapCard {

  padding-bottom: 10px;
  top: 75px;
  margin-top: 25px;
  margin-left: 14px;
}

.mapCard img {
  width: 826px;
  height: 200px;
  float: top;
}

.mapCard .card-body {
  float: bottom;
  /* margin: 20px; */
  background-color: lightgray;
}

.mapCard .card-title {
  float: bottom;
  font-size: 20px;
  font-weight: bold;
}

.mapC {
  width: 154px;
  height: 242px;
}

/* .mapCol {
  position:sticky;
  display: block;
  height: 30px;
} */

/* div .sticky {
  position: sticky;
  top: 0;
} */

div .sticky {
  position: fixed;
  margin-top: 50px;
  margin-bottom: 100px;
  /* top: 70px; */
  right: 0;
  width: 600px;
  height: 94%;
}

/* div .navDiv {
background-color: white;
} */

/* div .spaceDiv{
  background-color: white;
  height: 20px;
} */

/* div .nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
} */

.NavbarBrand {
  font-weight: bold;
}

div .navSticky {
  position: fixed;
  top: 0px;
  right: 0;
  width: 100%;
  z-index: 100;
  margin-bottom: 0px;
}
div .directionBtn{
  margin-top: 100px;
 }

 Button .direction{
   margin-right:1000px !important;
 }

.mapInf{
  display: block;
  margin-left: 20px;
  margin-right: auto;
  text-align: center;
  
}
.buttonMap {
  position: relative;
left:26%;
top: 50%;
}
.mapCardN{
  top:80px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}
