body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card{
  background-color: lightgray;
}
.mapCardBody{
  background-color: red; 
  color: blue;
}
.mapCard {

  padding-bottom: 10px;
  top: 75px;
  margin-top: 25px;
  margin-left: 14px;
}

.mapCard img {
  width: 826px;
  height: 200px;
  float: top;
}

.mapCard .card-body {
  float: bottom;
  /* margin: 20px; */
  background-color: lightgray;
}

.mapCard .card-title {
  float: bottom;
  font-size: 20px;
  font-weight: bold;
}

.mapC {
  width: 154px;
  height: 242px;
}

/* .mapCol {
  position:sticky;
  display: block;
  height: 30px;
} */

/* div .sticky {
  position: sticky;
  top: 0;
} */

div .sticky {
  position: fixed;
  margin-top: 50px;
  margin-bottom: 100px;
  /* top: 70px; */
  right: 0;
  width: 600px;
  height: 94%;
}

/* div .navDiv {
background-color: white;
} */

/* div .spaceDiv{
  background-color: white;
  height: 20px;
} */

/* div .nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
} */

.NavbarBrand {
  font-weight: bold;
}

div .navSticky {
  position: fixed;
  top: 0px;
  right: 0;
  width: 100%;
  z-index: 100;
  margin-bottom: 0px;
}
div .directionBtn{
  margin-top: 100px;
 }

 Button .direction{
   margin-right:1000px !important;
 }

.mapInf{
  display: block;
  margin-left: 20px;
  margin-right: auto;
  text-align: center;
  
}
.buttonMap {
  position: relative;
left:26%;
top: 50%;
}
.mapCardN{
  top:80px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.ownerParkCard{
  margin-left: 20%;
  width: 67%;
}
#addbtn{
  width:15%;
  margin-left: 38%;
  margin-top : 2%;
}

.bookingCard{
  width:50%;
  margin-left:24.5%;
}

.aboutPage{
margin-right: 900px;

width: 50%;
padding: 50px;
}
.aboutTxt{
  margin-top: 100px;
  width:70%;
   font-family: "Times New Roman", Times, serif;
}

.pagination {
  display: inline-block;
  margin-top: 50px;
  margin-left: 300px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color .3s;
  border: 1px solid #ddd; /* Gray */

}

.pagination a:hover:not(.active) {background-color: yellow;}


.active { 
    background-color: yellow;
}




.container {
  margin-top: 50px;
}
.container h4 {
  margin-bottom: 25px;
}

.fav {
  border-style: solid;
  border-width: 2px 10px 4px 20px;
}