body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card{
  background-color: lightgray;
}
.mapCardBody{
  background-color: red; 
  color: blue;
}
.mapCard {

  padding-bottom: 10px;
  top: 75px;
  margin-top: 25px;
  margin-left: 14px;
}

.mapCard img {
  width: 826px;
  height: 200px;
  float: top;
}

.mapCard .card-body {
  float: bottom;
  /* margin: 20px; */
  background-color: lightgray;
}

.mapCard .card-title {
  float: bottom;
  font-size: 20px;
  font-weight: bold;
}

.mapC {
  width: 154px;
  height: 242px;
}

div .sticky {
  position: fixed;
  margin-top: 50px;
  margin-bottom: 100px;
  right: 0;
  width: 600px;
  height: 94%;
}


.NavbarBrand {
  font-weight: bold;
}

div .navSticky {
  position: fixed;
  top: 0px;
  right: 0;
  width: 100%;
  z-index: 100;
  margin-bottom: 0px;
}
div .directionBtn{
  margin-top: 100px;
 }

 Button .direction{
   margin-right:1000px !important;
 }

.mapInf{
  display: block;
  margin-left: 20px;
  margin-right: auto;
  text-align: center;
  
}
.buttonMap {
  position: relative;
left:26%;
top: 50%;
}
.mapCardN{
  top:80px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.ownerParkCard{
  margin-left: 20%;
  width: 67%;
}
#addbtn{
  width:15%;
  margin-left: 38%;
  margin-top : 6%;
}

.bookingCard{
  width:50%;
  margin-left:24.5%;
}

.aboutPage{
margin-right: 900px;

width: 50%;
padding: 50px;
}
.aboutTxt{
  margin-top: 100px;
  width:70%;
   font-family: "Times New Roman", Times, serif;
}

/*//////////////////////////////////////////////////////////*/

.pagination {
  display: inline-block;
  margin-top: 50px;
  margin-left: 700px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a:hover {background-color: #b43932;}


.active { 
    background-color: #b43932;
}




.container {
  margin-top: 50px;
}
.container h4 {
  margin-bottom: 25px;
  margin-top: 25px;
}



.userimg {
  padding: 5px;
  width: 33.33%;
  border-radius: 8px;
}
/*////// not positioning correctly*/
.imgdiv{
  display:inline-block;
    width: auto;
    height: auto;
    border:1px solid red;
    margin-right:10px;
    float:left;
}


.usercard {
    float:left;
    margin-right:5px;
}
