.navbar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
  }
 .fixed-top{
    top:0;
    position: fixed;
    z-index:100;
 }
 .navbar-light .navbar-nav .nav-link{
    color:white;
 }

 .navbar-light .navbar-nav .nav-link{
    color:white;
 }
